.color{
    color: #e26956 !important; 
}

.bg-color{
    background-color: #e26956; 
}

a {
    font-family: "Arial", Times, serif;
}

a.color:hover,
a.custom:hover {
      color: #ff0000;
}

.custom {
    color: black;
}

